footer {
    background-color: #000;
    padding: 2%; 
    position: absolute;
    bottom: 0; 
    width: 100%; 
    display: flex; 
    justify-content: space-evenly;
    ul {
        width: 100%; 
    }
    @include fontRoboto(20px);
    p {
        color: #fff;
    }
}



