#truck {
  position: relative;
  left: -900px;
  -webkit-animation: truck 5s forwards;
  -webkit-animation-delay: 1.2s;
  animation: truck 5s forwards;
  animation-delay: 1.2s;
}


@-webkit-keyframes truck {
  from {left: -900px;}
  to {left: 0px;} 
}

@keyframes truck {
  from {left: -900px;}
  to {left: 0px;} 
}



.flexContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}


.truck {
    img {
        padding-top: 15%; 
        width: 300px;  
    }
}


.wrapper {  
    max-width: 1280px; 
    margin: 0 auto; 
    width: 90%; 
}

 @font-face{
        font-family:"AZ Sailor Tattoo W05 Regular";
        src:url("WEBFONTS/Fonts/5204411/46790c89-144f-445b-a870-7baa40f97715.woff2") format("woff2"),url("WEBFONTS/Fonts/5204411/dfd761ed-4039-4cb8-979a-ef953d4ee7e0.woff") format("woff");
    }



// COLOURS
// teal hex #9BD9CC
// pink hex #F4CAEE