// body,
// html,
// main,
// header {
//     height: 100%;
// }


@keyframes mymove {
  from {left: -500px;}
  to {left: 5px;} 
}


.flexContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}


.truck {
    img {
        padding-top: 15%; 
        width: 300px;  
        animation: mymove 5s forwards;
        position: relative;
    }
}


.wrapper {  
    max-width: 1280px; 
    margin: 0 auto; 
    width: 90%; 
}

 @font-face{
        font-family:"AZ Sailor Tattoo W05 Regular";
        src:url("WEBFONTS/Fonts/5204411/46790c89-144f-445b-a870-7baa40f97715.woff2") format("woff2"),url("WEBFONTS/Fonts/5204411/dfd761ed-4039-4cb8-979a-ef953d4ee7e0.woff") format("woff");
    }



// * {
//     border: 2px solid purple; 
// }


// COLOURS
// teal hex #9BD9CC
// pink hex #F4CAEE