h1 {
    font-family:"AZ Sailor Tattoo W05 Regular"; 
    font-size: 40px; 
    color: black;
    margin-bottom: 2%;
    margin-top: 2%; 
    text-align: center; 
}

h2 {
  font-family:"AZ Sailor Tattoo W05 Regular"; 
  font-size: 40px;
  margin-top: 5%;
  margin-bottom: 5%;   
}

.socialIcons {
        ul li {
            list-style: none;
        }
            ul li a {
            font-size: 30px;
            color: #fff;
    }
}

.socialIcons a:hover {
    color: #000;
}