/* tablet screens */
@media (max-width: 1033px) {

    h1 {
        font-size: 30px;
    }
}

@media (max-width: 845px) {
     h1 {
         width: 50%;  

    }
}

/* tablet screens */
@media (max-width: 795px) {
    nav ul li {
        justify-content: space-evenly;
        align-items: center;
    }

}


 /* phone screens */
@media (max-width: 580px) {
 
    nav {
        img {
            width: 80px; 

        }
    } 

    h1 {
        font-size: 25px; 
    }
}


/* smaller phone screens */
@media (max-width: 490px) {


    h2 {
        font-size: 30px; 
    } 
    
    nav {
        img {
            width: 75px;
            margin-top: 5%;
        }
    } 

    footer p {
        font-size: 18px; 
    }

    ul.slidingMenu {
        z-index: 9;
    }

    input[type="checkbox"]:checked + ul.slidingMenu {
        right: 0;
        width: 100%;
    }

}

@media (max-width: 384px) {

     .truck img {
        width: 300px; 
    }

        h1 {
        font-size: 20px; 
        width: 50%; 
    }

    h2 {
        font-size: 35px;
        text-align: center; 
        width: 100%; 
        margin-top: 10%;
        margin-bottom: 10%;
    }

}


@media (max-width: 320px) {

    nav  {
        padding: 5%;

        ul li {
            justify-content: space-between;
        }
            img {
            display: none; 
        }
    }

    .truck img {
        width: 200px; 
    }


}

