/* tablet screens */
@media (max-width: 1024px) {

    h1 {
        width: 50%;
        font-size: 30px;
        // margin-top: 25%; 
        // font-size: 45px;
        margin-bottom: 5%;
    }

    // .truck img {
    //     width: 400px; 
    // }
}


/* tablet screens */
@media (max-width: 795px) {
    nav ul li {
        justify-content: space-evenly;
        align-items: center;
    }

    h1 {
         margin-top: 5%; 

    }
}


 /* phone screens */
@media (max-width: 580px) {
 
    nav {
        img {
            width: 80px; 

        }
    } 

    .truck img {
        padding-top: 40%; 
    }
}


/* smaller phone screens */
@media (max-width: 490px) {

    h1 {
        width: 80%;
        font-size: 35px;
    }

    h2 {
        font-size: 30px; 
    } 
    
    nav {
        img {
            width: 50px; 

        }
    } 
}

@media (max-width: 384px) {

     .truck img {
        width: 300px; 
    }

    h1 {
        width: 100%;  
    }

    h2 {
        font-size: 25px; 
        text-align: center; 
        width: 100%; 
    }
}


@media (max-width: 320px) {

    nav  {
        padding: 5%;

        ul li {
            justify-content: space-between;
        }
            img {
            display: none; 
        }
    }

    .truck img {
        width: 200px; 
    }
}

