#story footer {
    position: static;  
}

// #story header {
//     height: 100%; 
// }

#story ul {
    margin-top: 5%; 
    li {
        margin-bottom: 5%; 
        line-height: 30px;
        text-align: center;
    }
}

#story ul.slidingMenu {
    margin: 0; 
}

@media (max-width: 800px) {
  #story header {
        height: 100%; 
        margin-bottom: 20%; 
    }  
}

@media (max-width: 600px) {
  #story header {
        height: 100%; 
    }  
}

@media (max-width: 450px) {
    #story li {
        font-size: 15px; 
    }

    #story a {
        font-size: 25px; 
    }
}

@media (max-width: 375px) {
    #story header {
        margin-bottom: 50%; 
        
    }

    #story footer p {
        font-size: 15px; 
    }

//     #story footer {
//        margin-top: 100px;
//    }
}

// @media (max-width: 320px) {
   
// }




