:root {
  --mainColor: #9BD9CC;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  min-width: 100%;
  min-height: 100%;
}

img {
  margin: 0;
  width: 100%;
}

h1 {
  font-family: "AZ Sailor Tattoo W05 Regular";
  font-size: 40px;
  color: black;
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: center;
}

h2 {
  font-family: "AZ Sailor Tattoo W05 Regular";
  font-size: 40px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.socialIcons ul li {
  list-style: none;
}

.socialIcons ul li a {
  font-size: 30px;
  color: #fff;
}

.socialIcons a:hover {
  color: #000;
}

nav {
  width: 100%;
  height: 20vh;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  width: 100%;
  margin: 0 auto;
}

nav ul li a {
  border: none;
  display: inline-table;
}

a {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--mainColor)), to(var(--mainColor)));
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background-size .2s;
  transition: background-size .2s;
}

a:hover {
  background-size: 4px 50px;
  color: #000;
}

nav img {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 2%;
}

nav h1 {
  color: white;
}

.menuButton {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  margin-top: 15%;
}

.menuButtonBurger {
  width: 50px;
  height: 12px;
  background: #452a01;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: absolute;
  left: 0;
}

.menuButtonBurger::before,
.menuButtonBurger::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 12px;
  background: #f0c77b;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  left: 0;
}

.menuButtonBurger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.menuButtonBurger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

.menuButton.open .menuButtonBurger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menuButton.open .menuButtonBurger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menuButton.open .menuButtonBurger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.hideMe {
  display: none;
}

.hideMeToo {
  display: initial;
}

ul.slidingMenu {
  background: #9BD9CC;
  position: fixed;
  z-index: 10;
  width: 20%;
  right: -30%;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

ul.slidingMenu a {
  display: inline-block;
  font-size: 20px;
  width: 100%;
  padding: 10%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  color: #000;
  font-family: "Special Elite", cursive;
  font-size: 20px;
}

ul.slidingMenu a:hover,
ul.slidingMenu a:focus,
ul.slidingMenu a:focus-within,
ul.slidingMenu a:visited {
  background: #F4CAEE;
  width: 100%;
}

input[type="checkbox"]:checked + ul.slidingMenu {
  right: 0;
}

input[type="checkbox"] {
  display: none;
}

nav button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  z-index: 10;
}

button:focus {
  border: 2px solid #9BD9CC;
}

#truck {
  position: relative;
  left: -900px;
  -webkit-animation: truck 5s forwards;
  -webkit-animation-delay: 1.2s;
  animation: truck 5s forwards;
  animation-delay: 1.2s;
}

@-webkit-keyframes truck {
  from {
    left: -900px;
  }
  to {
    left: 0px;
  }
}

@keyframes truck {
  from {
    left: -900px;
  }
  to {
    left: 0px;
  }
}

main {
  height: 100%;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.truck img {
  width: 300px;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

@font-face {
  font-family: "AZ Sailor Tattoo W05 Regular";
  src: url("WEBFONTS/Fonts/5204411/46790c89-144f-445b-a870-7baa40f97715.woff2") format("woff2"), url("WEBFONTS/Fonts/5204411/dfd761ed-4039-4cb8-979a-ef953d4ee7e0.woff") format("woff");
}

header ul li {
  list-style-type: none;
  font-family: "Special Elite", cursive;
  font-size: 20px;
}

footer li {
  font-family: "Special Elite", cursive;
  font-size: 40px;
}

/* tablet screens */
@media (max-width: 1033px) {
  h1 {
    font-size: 30px;
  }
}

@media (max-width: 845px) {
  h1 {
    width: 50%;
  }
}

/* tablet screens */
@media (max-width: 795px) {
  nav ul li {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  input[type="checkbox"]:checked + ul.slidingMenu {
    right: 0;
    width: 100%;
  }
  ul.slidingMenu {
    z-index: 9;
  }
  ul.slidingMenu a {
    font-size: 30px;
  }
}

/* phone screens */
@media (max-width: 580px) {
  nav img {
    width: 80px;
  }
  h1 {
    font-size: 25px;
  }
}

/* smaller phone screens */
@media (max-width: 490px) {
  h2 {
    font-size: 30px;
  }
  nav img {
    width: 75px;
    margin-top: 6%;
  }
  footer p {
    font-size: 18px;
  }
  input[type="checkbox"]:checked + ul.slidingMenu {
    right: 0;
    width: 100%;
  }
}

@media (max-width: 384px) {
  .truck img {
    width: 300px;
  }
  h1 {
    font-size: 20px;
    width: 50%;
  }
  h2 {
    font-size: 35px;
    text-align: center;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

@media (max-width: 320px) {
  nav {
    padding: 5%;
  }
  nav ul li {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav img {
    display: none;
  }
  .truck img {
    width: 200px;
  }
}

footer {
  height: 20vh;
  background-color: #000;
  padding: 2%;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

footer ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

footer ul li {
  list-style: none;
  text-align: center;
}

footer p {
  color: #fff;
}

footer button {
  border: none;
  background: none;
}

#story footer {
  position: static;
}

#story ul {
  margin-top: 5%;
}

#story ul li {
  margin-bottom: 5%;
  line-height: 30px;
  text-align: center;
}

#story ul.slidingMenu {
  margin: 0;
}

@media (max-width: 800px) {
  #story header {
    height: 100%;
    margin-bottom: 20%;
  }
}

@media (max-width: 600px) {
  #story header {
    height: 100%;
  }
}

@media (max-width: 450px) {
  #story li {
    font-size: 15px;
  }
  #story a {
    font-size: 25px;
  }
}

#foodMenu nav {
  margin-bottom: 5%;
}

.space {
  margin-bottom: 5%;
}

#foodMenu header img {
  width: 75%;
  margin-bottom: 5%;
}

#foodMenu header div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#foodMenu header ul {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#foodMenu header li {
  margin-bottom: 5%;
  margin-left: 20px;
}

#foodMenu .foodFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
}

#foodMenu footer {
  position: static;
}

@media (max-width: 660px) {
  #foodMenu header img {
    width: 100%;
  }
  #foodMenu header div {
    width: 100%;
  }
  #foodMenu header li {
    text-align: center;
    margin-left: 0px;
  }
  #foodMenu .foodFlexContainer {
    display: contents;
  }
}

#contact .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  margin-bottom: 10%;
}

#contact input[type="text"],
#contact input[name="yourEmail"],
#contact input[name="requestDate"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 25px;
}

#contact input[type="submit"] {
  background-color: #9BD9CC;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
  width: 100%;
}

/* When moving the mouse over the submit button, add a darker green color */
#contact input[type="submit"]:hover {
  background-color: #F4CAEE;
}

#contact textarea {
  resize: none;
}

#contact form,
#contact button,
#contact input,
#contact textarea {
  font-family: "Special Elite", cursive;
  font-size: 20px;
}

#contact h3 {
  font-family: "Special Elite", cursive;
  text-align: center;
  font-size: 25px;
  margin-bottom: 5%;
}

#contact footer {
  margin-top: 5%;
  position: static;
}
